<h1>Case Analyzer</h1>
{{#if caseNumber}}
    <h3>Case: {{caseNumber}}</h3> 
{{/if}}
<div class="container">
    <input type="number" id="numberCaseInput" placeholder="Github case number">
    <button id="apiCallButton" >Submit</button>
    <div style=" display: none;" id="loading-logo">Asking AI to analyze this case... </div>

    <div id="case" class="top-padding-div">
        <div class="flex-container">
            <div class="title-div">
                <dl>
                    <dt>Title</dt>
                    <dd id="case-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt</dd>
                    <dd id="case-state" class="state">elit</dd>
                </dl>
            </div>
            <div  class="username-div">
                <dl>
                    <dt>Submitter</dt>
                    <dd id="case-username">Lorem ipsum</dd>
                </dl>
            </div>
        </div>
        <div >
            <dl>
                <dt>Summary</dt>
                <dd id="case-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
            </dl>
        </div>

        <div id="details" class="flex-container">
            <div id="app" class="flex-child">
                <dl>
                    <dt>Game/Application Details</dt>
                    <dl class="description-list">
                        <dt>Name</dt><dd id="details-AppName">Lorem ipsum</dd>
                        <dt>Platform</dt><dd id="details-Platform">dolor sit</dd>
                        <dt>API</dt><dd id="details-API">amet</dd>
                    </dl>
                </dl>
            </div>
            <div id="pc" class="flex-child">
                <dl>
                    <dt>System Details</dt>
                    <dl class="description-list">
                        <dt>GPU</dt><dd id="details-GPU">consectetur</dd>
                        <dt>CPU</dt><dd id="details-CPU">adipiscing elit.</dd>
                        <dt>Driver Version</dt><dd id="details-Driver">Lorem ipsum </dd>
                        <dt>OS</dt><dd id="details-OS">dolor sit amet</dd>
                    </dl>
                </dl>
            </div>
        </div>

        <div class="flex-container">
            <div class="flex-child">
                <dl>
                    <dt>Main Pointers</dt>
                    <ol id="Main-Pointers"></ol>
                </dl>
            </div>
            <div class="flex-child">
                <dl>
                    <dt>Steps to reproduce</dt>
                    <ol id="step-repro"></ol>
                </dl>
            </div>
        </div>

    </div>
    SSU:
    <div id="ssu-path"></div>
    <div id="ssu-analysis" style="height: 300px; overflow: scroll;"></div>
    

</div>
<script>
    document.getElementById("case").style.display = "none";
    document.getElementById('apiCallButton').addEventListener('click', async () => {
        document.getElementById("case").style.display = "none";
        document.getElementById("ssu-path").innerHTML  = ""; 
        document.getElementById("loading-logo").style.display = "block";
        var num =  document.getElementById('numberCaseInput').value
        const url = 'https://api.github.com/repos/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/issues/';
        try {

            const caseRaw = await fetch(url+num);
            if(!caseRaw.ok){
                document.getElementById('case-summary').innerText = "Case number not found.";
                document.getElementById('numberCaseInput').value = '';
            } else {
                const caseInfo = await caseRaw.json();

                response = await fetch("/caseanalyzer/case", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(caseInfo),
                });
                const data = await response.json();

                document.getElementById("case").style.display = "block";
                document.getElementById('ssu-path').innerText = data["SSU-path"];

                document.getElementById('case-title').innerText = data["case-analysis"].case_title; 
                document.getElementById('case-state').innerText = caseInfo.state; 
                document.getElementById('case-username').innerText = data["case-analysis"].username; 
                document.getElementById('case-summary').innerText = data["case-analysis"].case_summary; 

                document.getElementById('details-AppName').innerText = data["case-analysis"].app_name; 
                document.getElementById('details-Platform').innerText = data["case-analysis"].platform; 
                document.getElementById('details-API').innerText = data["case-analysis"].api;

                document.getElementById('details-GPU').innerText = data["case-analysis"].gpu;
                document.getElementById('details-CPU').innerText = data["case-analysis"].cpu;
                document.getElementById('details-Driver').innerText = data["case-analysis"].driver_version
                document.getElementById('details-OS').innerText = data["case-analysis"].os_version

                document.getElementById('Main-Pointers').innerHTML = '';
                document.getElementById('step-repro').innerHTML = '';

                data["case-analysis"].main_pointers.forEach(element => {
                    const li = document.createElement('li');
                    li.textContent = element;
                    document.getElementById('Main-Pointers').appendChild(li);
                });

                
                data["case-analysis"].steps_reproduce.forEach(element => {
                    const li = document.createElement('li');
                    li.textContent = element;
                    document.getElementById('step-repro').appendChild(li);
                });

            }
            document.getElementById("loading-logo").style.display = "none";
        } catch (error) {
            document.getElementById('ssu-path').innerText = error;
        }
    });


</script>