

<div  class="loading"  >

    <canvas id="loading-container" width="200" height="200"></canvas>
    <div id="loadingBar" class="loading-bar" style="display: none">
        <div class="fill"></div>
    </div>
    <div id="loading-text"> 
        <p id="loading-message">Asking AI to analyze this case...</p> 
    </div>
</div>
<div class="p-5">
    <h1>Graphics Support Case Analyzer</h1>
    <div class="inputboxcontainer">
        <input  id="case-URL-input" placeholder="https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/issues/XXXX" 
        value="https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/issues/">
        <button id="apiCallButton">Submit</button>
    </div>
    <div id="status" style="height: 30px;" ></div>

    <div id="case" >
        <div class="analysis-report">
            <div class="flex-container">
                <div class="title-div">
                    <dl>
                        <dt>Title</dt>
                        <dd id="case-title" class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt</dd>
                        <dd><a id="case-url" target="_blank" href="">https://github.com/Arturo-Intel/GSS-Tools</a></dd>
                        <dd id="case-state" class="state">elit</dd>
                    </dl>
                </div>
                <div  class="username-div">
                    <dl>
                        <dt>Submitter</dt>
                        <dd id="case-username">Lorem ipsum</dd>
                    </dl>
                </div>
            </div>
            <div>
                <dl>
                    <dt>Summary</dt>
                    <dd class="justified-text"  id="case-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                </dl>
            </div>
            <div class="flex-container">
                <div  class="username-div">
                    <dl>
                        <dt>Sentiment</dt>
                        <dd id="case-temperature">Lorem ipsum</dd>
                    </dl>
                </div>
                <div id="Sentiment">
                    <div>
                        <dl>
                            <dt>Sentiment analysis</dt>
                            <dd class="justified-text" id="case-sentiment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                        </dl>
                    </div>            
                </div>

            </div>
            <div id="details" class="flex-container">
                <div id="app" class="flex-child">
                    <dl>
                        <dt>Game/Application Details</dt>
                        <dl class="description-list">
                            <dt>Name</dt><dd id="details-AppName">Lorem ipsum</dd>
                            <dt>Platform</dt><dd id="details-Platform">dolor sit</dd>
                            <dt>API</dt><dd id="details-API">amet</dd>
                        </dl>
                    </dl>
                </div>
                <div id="pc" class="flex-child">
                    <dl>
                        <dt>System Details</dt>
                        <dl class="description-list">
                            <dt>GPU</dt><dd id="details-GPU">consectetur</dd>
                            <dt>CPU</dt><dd id="details-CPU">adipiscing elit.</dd>
                            <dt>Driver Version</dt><dd id="details-Driver">Lorem ipsum </dd>
                            <dt>OS</dt><dd id="details-OS">dolor sit amet</dd>
                        </dl>
                    </dl>
                </div>
            </div>

            <div class="flex-container">
                <div class="flex-child">
                    <dl>
                        <dt>Main Pointers</dt>
                        <ul id="Main-Pointers"></ul>
                    </dl>
                </div>
                <div class="flex-child">
                    <dl>
                        <dt>Steps to reproduce</dt>
                        <ol id="step-repro"></ol>
                    </dl>
                </div>
            </div>

            <div>
                <dl>
                    <dt>Evidences</dt>
                    <ul id="case-evidence"></ul>
                </dl>
            </div>

            <div>
                <dl>
                    <dt>Possible questions to the submitter</dt>
                    <ul id="case-questions"></ul>
                </dl>
            </div>
        </div>
        <div><a id="ssu-path" target="_blank" href=""></a></div>
        <div id="ssu" class="analysis-report">
            <div>
                <dl>
                    <dt>SSU log Summary</dt>
                    <dd class="justified-text"  id="ssu-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                </dl>
            </div>
            <div class="flex-container">
                 <div class="flex-child">
                    <dl>
                        <dt>SSU System Properties</dt>
                        <dl class="description-list" id="SSU-system"></dl>
                    </dl>
                 </div>
                  <div class="flex-child">
                    <dl>
                        <dt>SSU Display Adapters</dt>
                        <dl class="description-list" id="SSU-Displays"></dl>
                    </dl>
                  </div>
            </div>
            <div>
                <dl>
                    <dt>Recommendations</dt>
                    <dd class="justified-text" id="ssu-recommendations">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                </dl>
            </div>
            <div>
                <dl>
                    <dt>Additional Notes</dt>
                    <dd id="ssu-notes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                </dl>
            </div>
        </div>

        <div id="LogEvents" class="analysis-report">
            <div>
                <dl>
                    <dt>Windows Log Events</dt>
                    <dd class="justified-text" id="ssu-logevents">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                </dl>
            </div>
        </div>
        <div id="DxDiaglog" class="analysis-report">
            <div>
                <dl>
                    <dt>DXDiag log</dt>
                    <dd  class="justified-text"  id="ssu-dxdiag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                </dl>
            </div>            
        </div>

    </div>
    <div id="help" style="padding-top: 75px;">
        <p class="justified-text" style="font-size: 1.25em; ">
        Welcome to the AI-Powered Graphics Support Case Analyzer, a cutting-edge tool designed to streamline the workflow of Product Support Engineers (PSEs) in handling customer support cases related to graphics products. This tool leverages advanced artificial intelligence to accelerate case analysis, ensuring standardized documentation and optimizing PSE time for critical tasks such as evidence gathering, case reproduction, escalations, and customer engagement. By automating the analysis process, the tool guarantees consistency and precision, enabling PSEs to focus on strategic activities that enhance customer satisfaction and expedite resolution.
        </p>
        <h4>How to use this tool:</h4>
        <dl>
            <ol class="justified-text">
                <li>Input a valid GitHub URL into the designated field. Currently, this tool supports GitHub URLs ONLY. Support for Intel Communities forum URLs will be supported in the future.</li>           
                <li>Click on the "Submit" button or press the enter key to START the AI-driven analysis process.</li>
                <li>Wait for the AI to process the case and generate a comprehensive analysis report, highlighting key insights and actionable recommendations.</li>
                <li>Once output is shown, you will see details about the case. Click on the "SSU" button or scroll down to access the SSU analysis section for specific hardware and software details available for further examination and understanding.</li>
            </ol>
        </dl>    
        <h4>Contact:</h4>
        
        For support, feedback, or inquiries, please reach out to us via email:
        <p style="text-align: center"><br>Email: <b><a href="mailto:arturo.medina.mendoza@intel.com">arturo.medina.mendoza@intel.com</a>
|| <a href="mailto:karen.f.gutierrez.cruz@intel.com">karen.f.gutierrez.cruz@intel.com</a></b></p>
        <p style="text-align: center">We are dedicated to empowering you with innovative tools that enhance your efficiency and effectiveness in resolving customer issues. We are here to support you in achieving greater customer satisfaction and operational excellence.</p>
    </div>
</div>


<script src="/javascripts/loading-animation.js"></script>
<script>



    document.getElementById('case-URL-input').addEventListener("keypress", function(event) {
        if (event.key === "Enter" && !document.getElementById('apiCallButton').disabled) {
            event.preventDefault();
            document.getElementById("apiCallButton").click();
        }
    });
    document.getElementById("loading-text").style.display = "none";
    pause(); //animation
    document.getElementById("case").style.display = "none";

    document.getElementById('apiCallButton').addEventListener('click', async () => {
        var hitResult = "OK";
        const startTime = performance.now();
        var endTime = startTime;
        document.getElementById("apiCallButton").setAttribute("disabled", "disabled");
        document.getElementById('status').innerText = "";
        document.getElementById("case").style.display = "none";
        document.getElementById("ssu-path").textContent  = ""; 
        document.getElementById("ssu-path").href  = ""; 
        document.getElementById("loading-text").style.display = "block";
        document.getElementById("loadingBar").style.display = "block";
        play(); //animation
        var githubCase = false;
        var communitiesCase = false;

        const caseURL = document.getElementById('case-URL-input').value;


       
        if(caseURL.match(/^(https?:\/\/)?(www\.)?github\.com\/.+$/))
        {
            if(caseURL.match(/(\d+)$/))
            {
                githubCase = true;
                num = caseURL.match(/(\d+)$/)[0];
                
            } else {
                document.getElementById('status').innerText = "Incomplete Github URL\n";
                hitResult = "Incomplete Github URL";
                endTime = performance.now();
            }
        } 
        
        try {
            if(githubCase) {

		        const url = 'https://api.github.com/repos/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/issues/';
                const options = {
                    method: 'GET', 
                    headers: {
                        'Authorization': "{{gt}}" ,
                        'X-GitHub-Api-Version': '2022-11-28'
                    },
                    params: {
                        "per_page":100
                    }
                };

                const caseRaw = await fetch(url+num, options);
                const commentsRaw = await  fetch(url+num+"/comments", options)
                
                if(!caseRaw.ok){
                    document.getElementById('status').innerText = "Github case ["+ num + "] doesn\'t exist.";
                    hitResult="Github case ["+ num + "] doesn\'t exist.";
                    endTime = performance.now();
                } else {
                    const caseInfo = await caseRaw.json();
                    const commentsInfo = await commentsRaw.json();
                    console.log(caseInfo);
                    console.log(commentsInfo);
                    
                    response = await fetch("/caseanalyzer/case", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify ({
                                "caseInfo": caseInfo, 
                                "commentsInfo": commentsInfo 
                              })
                    });
                    const data = await response.json();

                    if(data["case-error"]) {
                        document.getElementById('status').innerText = data["case-error"];
                        hitResult = data["case-error"];
                        endTime = performance.now();
                    } else {
                        document.getElementById("case").style.display = "block";
                        
                        document.getElementById('case-title').innerText = data["case-analysis"].case_title; 
                        document.getElementById("case-url").href = caseInfo.html_url
                        document.getElementById("case-url").textContent = caseInfo.html_url
                        document.getElementById('case-state').innerText = caseInfo.state; 
                        document.getElementById('case-username').innerText = data["case-analysis"].username; 
                        document.getElementById('case-summary').innerText = data["case-analysis"].case_summary; 

                        document.getElementById('details-AppName').innerText = data["case-analysis"].app_name; 
                        document.getElementById('details-Platform').innerText = data["case-analysis"].platform; 
                        document.getElementById('details-API').innerText = data["case-analysis"].api;

                        document.getElementById('details-GPU').innerText = data["case-analysis"].gpu;
                        document.getElementById('details-CPU').innerText = data["case-analysis"].cpu;
                        document.getElementById('details-Driver').innerText = data["case-analysis"].driver_version
                        document.getElementById('details-OS').innerText = data["case-analysis"].os_version

                        
                        document.getElementById('Main-Pointers').innerHTML = '';
                        document.getElementById('step-repro').innerHTML = '';
                        document.getElementById('case-evidence').innerHTML = '';
                        document.getElementById('case-questions').innerText = '';
                        document.getElementById('SSU-system').innerText = '';
                        document.getElementById('SSU-Displays').innerText = '';
                        document.getElementById('ssu-summary').innerText = '';
                        
                        document.getElementById('ssu-logevents').innerText = '';
                        document.getElementById('ssu-dxdiag').innerText = '';
                        document.getElementById('case-sentiment').innerText = '';

                        console.log(data["sentiment-analysis"])

                        document.getElementById('case-sentiment').innerText   = data["sentiment-analysis"].sentiment_analysis;
                        document.getElementById('case-temperature').innerText = data["sentiment-analysis"].case_sentiment;
                        
                        data["case-analysis"].main_pointers.forEach(element => {
                            const li = document.createElement('li');
                            li.textContent = element;
                            document.getElementById('Main-Pointers').appendChild(li);
                        });

                        
                        data["case-analysis"].steps_reproduce.forEach(element => {
                            const li = document.createElement('li');
                            li.textContent = element;
                            document.getElementById('step-repro').appendChild(li);
                        });

                        if (data["case-analysis"].evidence.length > 0){
                            data["case-analysis"].evidence.forEach(element => {
                                const a = document.createElement('a');
                                a.href = element;
                                a.text = element;
                                a.target = "_blank";
                                const li = document.createElement('li');
                                li.appendChild(a);
                                document.getElementById('case-evidence').appendChild(li);
                            });
                        } else {
                            const li = document.createElement('li');
                            li.textContent = "No evidence links";
                            document.getElementById('case-evidence').appendChild(li);
                        }

                        data["case-analysis"].questions.forEach(element => {
                            const li = document.createElement('li');
                            li.textContent = element;
                            document.getElementById('case-questions').appendChild(li);
                        });

                        if(data["SSU-path"] == "null") {
                            document.getElementById("ssu-path").textContent = "SSU file not provided."
                            document.getElementById("ssu").style.display= "none";
                            document.getElementById("LogEvents").style.display= "none";
                            document.getElementById("DxDiaglog").style.display= "none";
                            
                        } else {
                            document.getElementById("ssu").style.display= "block";
                            document.getElementById("LogEvents").style.display= "block";
                            document.getElementById("DxDiaglog").style.display= "block";
                            document.getElementById("ssu-path").textContent = data["SSU-path"]; 
                            document.getElementById("ssu-path").href  = data["SSU-path"];

                            ssuAnalysis = data["SSU-analysis"];
                            
                            for (const key in ssuAnalysis) {
                                if (ssuAnalysis.hasOwnProperty(key)) {
                                    const value = ssuAnalysis[key];
                                    if(key != "notes" && key != "recommendations" && key != "displays" && key != "summary") {
                                        const dt = document.createElement("dt");
                                        const dd = document.createElement("dd");
                                        dt.textContent = `${key}`;
                                        dd.textContent = `${value}`;
                                        document.getElementById('SSU-system').appendChild(dt)
                                        document.getElementById('SSU-system').appendChild(dd)
                                    }
                                }
                            }

                            document.getElementById('ssu-summary').innerText = ssuAnalysis.summary;
                            document.getElementById('ssu-recommendations').innerText = ssuAnalysis.recommendations;
                            document.getElementById('ssu-notes').innerText = ssuAnalysis.notes;

                            ssuBulkDisplays = data["SSU-analysis"].displays;
                            for (const key in ssuBulkDisplays) {
                                ssuDisplays = ssuBulkDisplays[key];
                                for (const key in ssuDisplays) {
                                    if (ssuDisplays.hasOwnProperty(key)) {
                                        const value = ssuDisplays[key];
                                        const dt = document.createElement("dt");
                                        const dd = document.createElement("dd");
                                        dt.textContent = `${key}`;
                                        dd.textContent = `${value}`;
                                        document.getElementById('SSU-Displays').appendChild(dt)
                                        document.getElementById('SSU-Displays').appendChild(dd)
                                    }
                                }
                                document.getElementById('SSU-Displays').appendChild(document.createElement("dt"));
                                document.getElementById('SSU-Displays').appendChild(document.createElement("dd"));
                            }
                            if(data["LogEvents-analysis"]){
                                document.getElementById('ssu-logevents').innerText = data["LogEvents-analysis"].logEvents
                            }else {
                                document.getElementById('ssu-logevents').innerText = "no logs found"
                            }
                             
                             if(data["DXDiag-analysis"]){
                                document.getElementById('ssu-dxdiag').innerText = data["DXDiag-analysis"].WindowsErrorReporting
                            }else {
                                document.getElementById('ssu-dxdiag').innerText = "no logs found"
                            }
                        }
                    }
                }
            } else {
                document.getElementById('status').innerText += "Not a valid or supported URL"
                hitResult = "Not a valid or supported URL";
                endTime = performance.now();
            }

        } catch (error) {
            document.getElementById('status').innerText = error;
            hitResult=error; 
            endTime = performance.now();
        } 

        document.getElementById("loading-text").style.display = "none";
        document.getElementById("loadingBar").style.display = "none";
        document.getElementById("apiCallButton").removeAttribute("disabled");
        pause(); //animation
        endTime = performance.now();
        
        const saveHit = await fetch("/caseanalyzer/hit", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json' // Set the content type to JSON
                },
                body: JSON.stringify({
                    "datetime": getDateTime(),
                    "action": "Case Analyzer: URL [" + caseURL + "]",
                    "result": hitResult,
                    "time": millisecondsToHHMMSS(endTime - startTime)
                }),
            });
        if (!saveHit.ok) {
            console.error("Could not save hit data", saveHit.status);
        } 
    });


</script>