<h1>Case Analyzer</h1>
{{#if caseNumber}}
    <h3>Case: {{caseNumber}}</h3> 
{{/if}}
<div class="container">
    <input type="number" id="numberCaseInput" placeholder="Github case number">
    <button id="apiCallButton" >Submit</button>
    <div id="result"></div>

</div>
<script>

    document.getElementById('apiCallButton').addEventListener('click', async () => {
        var num =  document.getElementById('numberCaseInput').value
        try {
            const response = await fetch('/caseanalyzer/case/'+num);
            const data = await response.json();
            document.getElementById('result').innerText = data["SSU-path"];
        } catch (error) {
            document.getElementById('result').innerText = 'Error fetching data';
        }
    });

</script>