

<div  class="loading"  >

    <canvas id="loading-container" width="200" height="200"></canvas>
    <div id="loadingBar" class="loading-bar" style="display: none">
        <div class="fill"></div>
    </div>
    <div id="loading-text"> 
        <p id="loading-message">Asking AI to analyze this case...</p> 
    </div>
</div>
<div class="p-5">
    <h1>Graphics Support Case Analyzer</h1>
    <div class="inputboxcontainer">
        <input  id="case-URL-input" placeholder="https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/issues/XXXX" 
        value="https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/issues/">
        <button id="apiCallButton">Submit</button>
    </div>
    <div id="status" style="height: 30px;" ></div>

    <div id="case" >
        <div class="title-div">
            <dl>
                <dt>Title</dt>
                <dd id="case-title" class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt</dd>
                <dd><a id="case-url" target="_blank" href="">https://github.com/Arturo-Intel/GSS-Tools</a></dd>
                <dd id="case-state" class="state">elit</dd>
            </dl>
        </div>
        <div class="tab">
            <button id="summary-button" class="tablinks" onclick="openTab(event, 'summary-tab')">Summary</button>
            <button class="tablinks" onclick="openTab(event, 'analysis-tab')">Analysis</button>
            <button class="tablinks" onclick="openTab(event, 'logs-tab')">Logs</button>
            <button class="tablinks" onclick="openTab(event, 'feedback-tab')">Feedback</button>
        </div>
        <div id="summary-tab" class="tabcontent">
            <div class="analysis-report">
                <div class="flex-container">
                    <div  class="username-div">
                        <dl>
                            <dt>Submitter</dt>
                            <dd id="case-username">Lorem ipsum</dd>
                        </dl>
                    </div>
                </div>
                <div>
                    <dl>
                        <dt>Is case fixed?</dt>
                        <dd class="justified-text" id="case-fixed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                    </dl>
                </div>
                <div class="flex-container">
                    <div class="username-div">
                        <dl>
                            <dt>Sentiment</dt>
                            <dd id="case-temperature">Lorem ipsum</dd>
                        </dl>
                    </div>
                    <div id="Sentiment">
                        <div>
                            <dl>
                                <dt>Sentiment analysis</dt>
                                <dd class="justified-text" id="case-sentiment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                            </dl>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
        <div id="analysis-tab" class="tabcontent">
            <div class="analysis-report">
                <div>
                    <dl>
                        <dt>Analysis</dt>
                        <dd class="justified-text"  id="case-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                    </dl>
                </div>                    
                <div id="details" class="flex-container">
                    <div id="app" class="flex-child">
                        <dl>
                            <dt>Game/Application Details</dt>
                            <dl class="description-list">
                                <dt>Name</dt><dd id="details-AppName">Lorem ipsum</dd>
                                <dt>Platform</dt><dd id="details-Platform">dolor sit</dd>
                                <dt>API</dt><dd id="details-API">amet</dd>
                            </dl>
                        </dl>
                    </div>
                    <div id="pc" class="flex-child">
                        <dl>
                            <dt>System Details</dt>
                            <dl class="description-list">
                                <dt>GPU</dt><dd id="details-GPU">consectetur</dd>
                                <dt>CPU</dt><dd id="details-CPU">adipiscing elit.</dd>
                                <dt>Driver Version</dt><dd id="details-Driver">Lorem ipsum </dd>
                                <dt>OS</dt><dd id="details-OS">dolor sit amet</dd>
                            </dl>
                        </dl>
                    </div>
                </div>

                <div class="flex-container">
                    <div class="flex-child">
                        <dl>
                            <dt>Main Pointers</dt>
                            <ul id="Main-Pointers"></ul>
                        </dl>
                    </div>
                    <div class="flex-child">
                        <dl>
                            <dt>Steps to reproduce</dt>
                            <ol id="step-repro"></ol>
                        </dl>
                    </div>
                </div>

                <div>
                    <dl>
                        <dt>Evidences</dt>
                        <ul id="case-evidence"></ul>
                    </dl>
                </div>

                <div>
                    <dl>
                        <dt>Possible questions to the submitter</dt>
                        <ul id="case-questions"></ul>
                    </dl>
                </div>
            </div>
        </div>
        <div id="logs-tab" class="tabcontent">
            <div><a id="ssu-path" target="_blank" href=""></a></div>
            <div id="ssu" class="analysis-report">
                
                <div>
                    <dl>
                        <dt>SSU log Summary</dt>
                        <dd class="justified-text"  id="ssu-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                    </dl>
                </div>
                <div class="flex-container">
                    <div class="flex-child">
                        <dl>
                            <dt>SSU System Properties</dt>
                            <dl class="description-list" id="SSU-system"></dl>
                        </dl>
                    </div>
                    <div class="flex-child">
                        <dl>
                            <dt>SSU Display Adapters</dt>
                            <dl class="description-list" id="SSU-Displays"></dl>
                        </dl>
                    </div>
                </div>
                <div>
                    <dl>
                        <dt>Recommendations</dt>
                        <dd class="justified-text" id="ssu-recommendations">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                    </dl>
                </div>
                <div>
                    <dl>
                        <dt>Additional Notes</dt>
                        <dd id="ssu-notes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                    </dl>
                </div>
            </div>
            <div id="LogEvents" class="analysis-report">
                <div>
                    <dl>
                        <dt>Windows Log Events</dt>
                        <dd class="justified-text" id="ssu-logevents">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                    </dl>
                </div>
            </div>
            <div id="DxDiaglog" class="analysis-report">
                <div>
                    <dl>
                        <dt>DXDiag log</dt>
                        <dd class="justified-text"  id="ssu-dxdiag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                    </dl>
                </div>            
            </div>
        </div>
        <div id="feedback-tab" class="tabcontent">
            <div id="UserFeedback" class="analysis-report">
                <div>
                    <dl>
                        <dt>PSE handling analysis</dt>
                        <dl id="pse-analysis" class="description-list"></dl>
                    </dl>
                </div>            
            </div>
        </div>
    </div>
    <div id="introduction-text" style="padding-top: 75px;">
        <p class="justified-text" style="font-size: 1.25em; ">
        Welcome to the AI-Powered Graphics Support Case Analyzer, a cutting-edge tool designed to streamline the workflow of Product Support Engineers (PSEs) in handling customer support cases related to graphics products. This tool leverages advanced artificial intelligence to accelerate case analysis, ensuring standardized documentation and optimizing PSE time for critical tasks such as evidence gathering, case reproduction, escalations, and customer engagement. By automating the analysis process, the tool guarantees consistency and precision, enabling PSEs to focus on strategic activities that enhance customer satisfaction and expedite resolution.
        </p>
        <div id="help">
            <h4>How to use this tool:</h4>
            <dl>
                <ol class="justified-text">
                    <li>Input a valid GitHub URL into the designated field. Currently, this tool supports GitHub URLs ONLY. Support for Intel Communities forum URLs will be supported in the future.</li>           
                    <li>Click on the "Submit" button or press the enter key to START the AI-driven analysis process.</li>
                    <li>Wait for the AI to process the case and generate a comprehensive analysis report, highlighting key insights and actionable recommendations.</li>
                    <li>Once output is shown, you will see details about the case. Click on the "SSU" button or scroll down to access the SSU analysis section for specific hardware and software details available for further examination and understanding.</li>
                </ol>
            </dl>   
        </div> 
        <h4>Contact:</h4>
        
        For support, feedback, or inquiries, please reach out to us via email:
        <p style="text-align: center"><br>Email: <b><a href="mailto:arturo.medina.mendoza@intel.com">arturo.medina.mendoza@intel.com</a>
|| <a href="mailto:karen.f.gutierrez.cruz@intel.com">karen.f.gutierrez.cruz@intel.com</a></b></p>
        <p style="text-align: center">We are dedicated to empowering you with innovative tools that enhance your efficiency and effectiveness in resolving customer issues. We are here to support you in achieving greater customer satisfaction and operational excellence.</p>
    </div>
</div>


<script src="/javascripts/loading-animation.js"></script>
<script src="/javascripts/something.js"></script>
<script>

    document.getElementById('case-URL-input').addEventListener("keypress", function(event) {
        if (event.key === "Enter" && !document.getElementById('apiCallButton').disabled) {
            event.preventDefault();
            document.getElementById("apiCallButton").click();
        }
    });

    document.getElementById("loading-text").style.display = "none";
    pause(); //animation
    document.getElementById("case").style.display = "none";

    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    
    

</script>