<h1>Case Analyzer</h1>
{{#if caseNumber}}
    <h3>Case: {{caseNumber}}</h3> 
{{/if}}
<div class="container">
    <input type="number" id="numberCaseInput" placeholder="Github case number">
    <button id="apiCallButton" >Submit</button>
    <div id="ssu-path"></div>
    <div id="ssu-analysis" style="height: 300px;overflow: scroll;"></div>
    <div id="case-analysis" style="height: 300px;overflow: scroll;"></div>

</div>
<script>

    document.getElementById('apiCallButton').addEventListener('click', async () => {
        var num =  document.getElementById('numberCaseInput').value
        const url = 'https://api.github.com/repos/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/issues/';
        try {

            const caseRaw = await fetch(url+num);
            const caseInfo = await caseRaw.json();

            response = await fetch("/caseanalyzer/case", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(caseInfo),
            });
            const data = await response.json();
            document.getElementById('ssu-path').innerText = data["SSU-path"];
            document.getElementById('ssu-analysis').innerText = data["SSU-analysis"];
            document.getElementById('case-analysis').innerText = data["case-analysis"];
        } catch (error) {
            document.getElementById('ssu-path').innerText = error;
        }
    });

</script>